.is-icon-bar {
  bottom: 0;
  position: fixed;
  display: block;
  width: 100%;
  overflow: scroll;
}

.search-button a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  background-color: #555;
  font-size: 4vw;
}

.form-inline {
  background-color: #555;
}

.is-icon-bar a:hover {
  background-color: #4CAF50;
}

.is-active {
  background-color: #4CAF50;
}

